.home-container {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding:16px;
}

.btn-primary {
  background-color:#FFBA94;
  border-radius:50px;
  border:none;
}

.btn-primary:hover {
  background-color:black;
  transition: 0.8s;
}

.card.home {
  cursor: pointer;
  border-radius:20px;
  outline:1px black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 1px 1px 5px rgb(140, 140, 140);
  background: transparentize($white, 0.8);
  backdrop-filter: blur(20px);


  &:hover{
    transform: scale(102%);
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
  }
}

.card {
  border-radius:20px;
  outline:1px black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: transparentize($white, 0.8);
  backdrop-filter: blur(20px);
}

.card.main {
  border-radius: 5px;
}

.card-img-top {
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  box-shadow: 1px 1px 5px rgb(140, 140, 140);
}

.card-body {
  display: flex;
  flex-direction: inherit;
  justify-content: space-between;
}

.card-title {
  text-decoration-line: underline;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-details {
  color: rgb(141, 141, 141);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}
