.home-container {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding:16px;
}

.btn-primary {
  background-color:#FFBA94;
  border-radius:50px;
  border:none;
}

.btn-primary:hover {
  background-color:black;
  transition: 0.8s;
}

.card {
  border-radius:20px;
  outline:1px black;
}

.card-img-top {
  border-top-left-radius:20px;
  border-top-right-radius:20px;
}

.card-body {
  display: flex;
  flex-direction: inherit;
  justify-content: space-between;
}

.card-title {
  text-decoration-line: underline;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-details {
  color: rgb(141, 141, 141);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}
