<div class="shadow rounded d-flex">
  <img src="<%= booking.venue.picture_url%>" alt="" height="150px" width="150px">
  <div class="p-2">
    <h4><%= booking.venue.name %></h4>
    <p><%= booking.venue.location %></p>
    <p>Total Cost: $<%= booking.total_price %>0</p>
    <p>Accept       Decline</p>
  </div>
</div>
