<div class="row">
  <div class="col-4 text-center">
    <h3>Pending</h3>
    <% @venue_bookings.each do |booking| %>
      <% if booking.status == 'pending' %>
        <%= render 'pending_booking', booking: booking %>
      <% end %>
    <% end %>
  </div>

  <div class="col-4">
    <h3>Accepted</h3>
    <% @venue_bookings.each do |booking| %>
      <% if booking.status == 'active' %>
        <%= render 'booking', booking: booking %>
      <% end %>
    <% end %>
  </div>

  <div class="col-4">
    <h3>Declined</h3>
    <% @venue_bookings.each do |booking| %>
      <% if booking.status == 'archived' %>
        <%= render 'booking', booking: booking %>
      <% end %>
    <% end %>
  </div>
</div>
