<div class="row">
  <div class="col-4 text-center">
    <h3>Pending</h3>
    <% @venue_bookings.each do |booking| %>
      <% if booking.status == 'pending' %>
        <%= render 'pending_booking', booking: booking %>
      <% end %>
    <% end %>
  </div>

  <div class="col-4" >
    <h3>Accepted</h3>
    <div id="accepted">
      <% @venue_bookings.where(status: "active").each do |booking| %>
        <%= render 'booking', booking: booking %>
      <% end %>
    </div>
  </div>

  <div class="col-4">
    <h3>Declined</h3>
    <div id="declined">
      <% @venue_bookings.where(status: 'archived').each do |booking| %>
        <%= render 'booking', booking: booking %>
      <% end %>
    </div>
  </div>
</div>
