.btn {
  color: rgb(255,154,54);
  border: 3px solid rgb(255,154,54);
  border-radius: 40px;
}

.btn:hover {
  background-color: rgb(255,154,54);
  color: white;
  border: 3px solid #ffffff;
  border-radius: 40px;
}
