.container {
  padding: 10px;
}

// .row {
//   display:grid;
// }

.details-list {
  color:grey;
}

hr.solid {
  border-top: 3px solid #676767;
}

.expanded-card {
  padding: 10px;
}

.icon {
  font-size: 24px;
}

// .info {
//   &:hover {
//   transform: scale(100.5%);
//   transition-duration: 0ms;
//   }
// }
