.mapboxgl-popup {
  max-width: 200px;
  border: none;
  border-radius: 20px;
}

.mapboxgl-popup-content {
  text-align: center;
  border-radius: inherit;
}

.mapboxgl-popup-tip {

}

.mapboxgl-popup-close-button {
  right: 5px;
  top: 5px;
}

.mapmarker {
  background-image: url(https://res.cloudinary.com/hwalk1/image/upload/v1654148153/development/ogovuq7nq10freyvjeaqky4sskdv.jpg);
    background-size: contain;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid rgb(255, 186, 148);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 20px;
    transform: translate(650px, 300px) translate(-50%, -50%) rotateX(0deg) rotateZ(0deg) translate(0px, 0px);
}
