
.form-control {
  border: 3px solid #FFBA94;
  border-radius: 40px;
}

input:focus {
  outline: none !important;
  // border: 3px solid #FFBA94;
}

.form-control-search {
  border: 3px solid rgb(254,148,42);
  border-radius: 40px;
  height: 42px;
  text-decoration: none;
  &:hover {
    box-shadow: 3px solid #FFBA94;
  }
}

.dropdown-menu {
  border-radius: 10px;
}

.nav-item {
  padding-left: 100px;
}

.search-bar {
  width: 350px;
  margin-right: 10px;
}

.navbar-brand {
  transition: 500ms;
  &:hover {
    transform: scale(102%);
    transition-duration: 500ms;
  }
}

// .datepicker.search {
//   height: 100%;
// }
