
.form-control {
  // border: 1px solid grey;
  // border-radius: 1px;
  background-color: white;
}

.form-select {
  background-color: white;
}

input:focus {
  outline: none !important;
  // border: 3px solid #FFBA94;
}

.form-control-search {
  border: 3px solid rgb(254,148,42);
  border-radius: 40px;
  height: 42px;
  text-decoration: none;
  &:hover {
    box-shadow: 3px solid #FFBA94;
  }
}

.dropdown {
  padding-right: 30px;
}

.dropdown-menu {
  border-radius: 10px;
}

.nav-item {
  padding-left: 100px;
}

.search-bar {
  width: 350px;
  margin-right: 10px;
}

.navbar-brand {
  transition: 500ms;
  &:hover {
    transform: scale(102%);
    transition-duration: 500ms;
  }
}

.navbar {
  height: 90px;
}
// .datepicker.search {
//   height: 100%;
// }
