.btn {
  color: #FFBA94;
  border: 3px solid #FFBA94;
  border-radius: 40px;
}

.btn:hover {
  background-color: #FFBA94;
  color: white;
  border: 3px solid #ffffff;
  border-radius: 40px;
}

.form-control {
  border: 3px solid #FFBA94;
  border-radius: 40px;
}
