
 <div class="container-fluid">
 <div class="banner">
  <div class="row">
    <div class="col-sm">
      Date

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      </form>

    </div>
    <div class="col-sm">
      Location
      <button type="button" class="bton">Melbourne</button>
    </div>
    <div class="col-sm">
      Price Range
      <button type="button" class="bton">from $ 100</button>
    </div>
    </div>
  </div>
 </div>
