<div class="container-fluid scroll"> <%# fixed-top can be added%>
  <div class="banner">
    <div class="row">
      <div class="col-sm">
        <form>
          <label for="date">Date: </label>
          <input type="text" id="date" name="date" placeholder="DD/MM/YYYY">
          <label for="location">Location: </label>
          <input type="text" id="location" name="location" placeholder="Melbourne">
          <label for="price-range">Price Range: </label>
          <input type="text" id="price-range" name="price-range" placeholder="from $100">
          <input type="submit" value="Go!">
        </form>
      </div>
    </div>
  </div>
</div>

<div class="top-venues">
<h1>Our Top Venues :</h1>
</div>
